<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/xpscanner_icon_round"
        android:label="XPScanner"
        android:supportsRtl="true"
        android:theme="@style/Theme.XPScanner"
        tools:targetApi="31">
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="Settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.manage.ProductSearchActivity"
            android:exported="false"
            android:theme="@style/Theme.XPScanner.NoActionBar" />
        <activity
            android:name=".ui.manage.ManageProductViewActivity"
            android:exported="false"
            android:theme="@style/Theme.XPScanner.NoActionBar" />
        <activity
            android:name=".ui.expired.ExpiredProductViewActivity"
            android:exported="false"
            android:theme="@style/Theme.XPScanner.NoActionBar" />
        <activity
            android:name=".SplashScreenXPScanner"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EmailVerification"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ui.scan.AddItemActivity"
            android:exported="false"
            android:theme="@style/Theme.XPScanner.NoActionBar" />
        <activity
            android:name=".ui.scan.ScanActivity"
            android:exported="false"
            android:theme="@style/Theme.XPScanner.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.XPScanner.NoActionBar" />

        <service android:name=".ProductExpirationService" />

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>